<p><b>Desktop:</b> Use arrow keys to move around:</p>
<ul>
  <li>Up and down for moving forward or backward</li>
  <li>Left and right for...left and right</li>
  <li>Click and hold the left mouse button to change gaze</li>
</ul>
<p><b>Mobile:</b> Move the device, you have a window to the scene.
  You can also click "AR".</p>